@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101015;
  --text: white;
  --accent: #d7c334;
}

html {
  @apply bg-background;
}

body {
  background: var(--background);
  color: var(--text);
}

a {
  @apply underline text-accent;
}

h1 {
  @apply text-4xl font-bold my-8 font-mono;
}

h2 {
  @apply text-3xl font-bold my-8 font-mono;
}

h3 {
  @apply text-2xl font-bold my-8 font-mono;
}

p {
  @apply my-8 font-sans;
}

.caret {
  @apply before:content-['➤'] before:mr-2 before:text-accent;
}

.wip {
  @apply text-red-500 font-mono bg-black p-2 rounded-md;
}

.emphasis {
  @apply text-accent font-mono bg-black p-2 rounded-md;
}

hr {
  @apply border-dashed border-2 my-4;
}
